﻿
@page
@model Presentation.Web.AspDotNetCore.Client.Pages.ApplyLeaveModel
@using System.Data;

@{
    Layout = "_Dashboard";
}

<h1>Apply Leave</h1>
<p>@ViewData.Eval("loggedInName")</p>


<form>
    <input type="text" asp-for="@Model.Address" />
    <input type="submit" asp-page-handler="GetRdlcReport" value="Submit" />
</form>


<table class="table">

    <thead>
        <tr>
            <th>Employee Name</th>
            <th>Code</th>
            <th>Depatment</th>
            <th>Employee ID</th>
        </tr>

    </thead>
    <tbody>


        @foreach (DataRow item in Model.userDS.Users.Rows)
        {
            <tr>
                <td>@item["EmployeeName"]</td>
                <td>@item["EmployeeCode"]</td>
                <td>@item["DepartmentName"]</td>
                <td>@item["EmployeeID"]</td>
            </tr>
        }

    </tbody>

</table>

<select id="ddlCountry" asp-for="@Model.CountryId" asp-items="@(new SelectList(@Model.countryDS.Countries,"Countryid", "Name"))" class="form-control">
    <option value="" selected>Choose...</option>
</select>

<select id="ddlDivision" asp-for="@Model.DivisionId" asp-items="@(new SelectList(@Model.divisionLs.Division,"Divisionid", "Divisionname"))" class="form-control">
    <option value="" selected>Choose...</option>
</select>



@section Scripts{

    <script type="text/javascript">
        $(function () {
            $('button[data-toggle="ajax-modal"]').click(function (event) {
                alert('button clicked');
            });
            $('#ddlCountry').change(function () {

                var _text = $("#ddlCountry option:selected").text();

                $.ajax({
                    type: "GET",
                    url: "/ApplyLeave?handler=DivisionForAssignLeaveByCountryName",
                    data: { countryName: _text },
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader("XSRF-TOKEN",
                            $('input:hidden[name="__RequestVerificationToken"]').val());
                    },
                    success: function (data) {
                        items = [];

                        var j = jQuery.parseJSON(data);

                        console.log(j.length);
                        var options;
                        for (var i = 0; i < j.length; i++) {
                            options += '<option value="' + j[i].optionValue + '">' + j[i].optionDisplay + '</option>'
                        }
                        $('#ddlDivision').html(options);




                    },
                    error: function (req, status, error) {
                        console.log(error);
                    }
                    //error: function (e) {
                    //    console.log("ERROR : ", e);
                    //},
                    //failure: function (response) {
                    //    //alert(response);
                    //    console.log(response);
                    //}
                });
            });
        });

    </script>



}










