﻿@page
@model Presentation.Web.AspDotNetCore.Client.ChangePasswordModel
@{
    Layout = "_Dashboard";
}
<div class="page-content">
    <!-- BEGIN PAGE HEAD-->
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box green">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-gift"></i>Change Password
                    </div>
                    <div class="tools">
                        <a href="javascript:;" class="collapse"> </a>
                        <a href="javascript:;" class="reload"> </a>
                        <a href="javascript:;" class="remove"> </a>
                    </div>
                </div>
                <div class="portlet-body form">
                    <!-- BEGIN FORM-->
                    <form method="post" class="form-horizontal">
                        <div class="form-body">
                            <div class="form-group">
                                <label class="col-md-3 control-label">Current Password</label>
                                <div class="col-md-4">
                                    <input type="password" class="form-control input-circle" placeholder="Current Password">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label">New Password</label>
                                <div class="col-md-4">
                                    <input type="password" class="form-control input-circle" placeholder="New Password">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label">Re-type New Password</label>
                                <div class="col-md-4">
                                    <input type="password" class="form-control input-circle" placeholder="Re-type New Password">
                                </div>
                            </div>
                        </div>
                        <div class="form-actions">
                            <div class="row">
                                <div class="col-md-offset-3 col-md-9">
                                    <button type="submit" class="btn btn-circle green">Change Password</button>
                                    <a  asp-page="/dashboard" class="btn btn-circle grey-salsa btn-outline">Cancel</a>

                                </div>
                            </div>
                        </div>
                    </form>
                    <!-- END FORM-->
                </div>
            </div>
        </div>
    </div>
</div>