﻿@page
@model Presentation.Web.AspDotNetCore.Client.LeaveReportModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    Layout = "_Dashboard";
}

@foreach (var emp in Model.empDS.Employees)
{
    <div class="card">
        <div class="card-header">
            Show report for : @emp.EmployeeName
        </div>
        <div class="card-body">
            <form asp-page-handler="RdlcReport" method="post">
                <button class="btn btn-success">Show Report</button>
            </form>
            @*<input type="submit" asp-page-handler="RdlcReport" value="Show Report" />*@

        </div>

    </div>
}

