﻿@page "/"
@model LogInModel
@{

    Layout = null;
}

<head>
    <title>Login</title>
    <script src="~/assets/global/plugins/jquery.min.js"></script>
    <link href="~/assets/global/css/bootstrap4.0.0.min.css" rel="stylesheet" />
    <script src="~/assets/global/scripts/bootstrap4.0.0.min.js"></script>
    <link href="~/css/login.css" rel="stylesheet" />
</head>
<body>
    <section class="login-block">
        <div class="container">
            <div class="row">
                <div class="col-md-4 login-sec">
                    <h2 class="text-center">Login Now</h2>
                    <form class="login-form">
                        <div class="form-group">
                            <label for="exampleInputEmail1" class="text-uppercase">Username</label>
                            <input type="text" class="form-control" placeholder="">

                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1" class="text-uppercase">Password</label>
                            <input type="password" class="form-control" placeholder="">
                        </div>


                        <div class="form-check">
                            <label class="form-check-label">
                                <input type="checkbox" class="form-check-input">
                                <small>Remember Me</small>
                            </label>
                            <a class="btn btn-info float-right" asp-page="/dashboard" >Login</a>
                        </div>

                    </form>

                </div>
                <div class="col-md-8 banner-sec">
                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>

                        </ol>
                        <div class="carousel-inner" role="listbox">
                            <div class="carousel-item active">
                                <img class="d-block img-fluid" src="~/img/loginSliderOne.jpg" alt="First slide">
                                <div class="carousel-caption d-none d-md-block">
                                    <div class="banner-text">
                                        <h2>Welcome To MILLENNIUM</h2>
                                        <p>A reliable software company in the banking and finance industry at home and abroad through its commitments</p>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <img class="d-block img-fluid" src="~/img/loginSliderTwo.jpg" alt="Second slide">
                                <div class="carousel-caption d-none d-md-block">
                                    <div class="banner-text">
                                        <h2>Sylvia</h2>
                                        <p>Your Ultimate Tool for Human Resource Management</p>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

