﻿@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<p>@ViewData.Eval("Pre")</p>



<form method="post">
    <button asp-page-handler="GetEmployee">Find Employee</button>
</form>
